@model Images
@{
    ViewData["Title"] = "ImageUpdate";
}

<div class="container">
    <div class="col-md-12">
        <div class="col-md-4">
            <div class="form-group">
                <div class="form-group">
                    <form method="post" enctype="multipart/form-data" asp-antiforgery="true">
                        


                        <div>
                            <input asp-for="ImageId" hidden />
                            <input type="hidden" asp-for="AdvertId" />
                            <input type="file" asp-for="Image" />
                            <br />
                            <button type="submit" class="btn btn-warning">Güncelle</button>





                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>
</div>