@model District

@{
    ViewData["Title"] = "Update";
}

<div class="container">
    <div class="row">

        <div class="col-md-12">
            <div class="col-md-6">
                <div class="form-group">
                    <form method="post" asp-antiforgery="true">
                        <input type="hidden" asp-for="DistrictId"/>
                        <label>Semt Adı</label>
                        <input type="text" asp-for="DistrictName" class="form-control"/>
                        <span asp-validation-for="DistrictName" class="text-danger"></span>
                        <br />
                         <label>Şehir</label>
                            <select asp-for="CityId" id="CityId" class="form-control">
                                <option value="0" selected>Seçiniz</option>

                                @foreach (var item in ViewBag.cities)
                                {
                                    <option value="@item.Value">@item.Text</option>
                                }

                            </select>
                            <br />
                        <button type="submit" class="btn btn-primary">Güncelle</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>