@model ChangePasswordModel

@{
    ViewData["Title"] = "ChangePassword";
}


@if (ViewBag.success != null)
{
    <div class="alert alert-success">@ViewBag.success</div>
}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="col-md-6">
                <div class="form-group">
                    <div class="form-group">
                        <form method="post" asp-antiforgery="true">
                            <div asp-validation-summary="ModelOnly" class="text text-danger"></div>
                            <label>Eski Şifre</label>
                            <input class="form-control" asp-for="OldPassword" type="password" />
                            <br />
                            <span class="text text-danger" asp-validation-for="OldPassword"></span>
                            <br />
                            <label>Yeni Şifre</label>
                            <input class="form-control" asp-for="NewPassword" type="password" />
                            <br />
                            <span class="text text-danger" asp-validation-for="NewPassword"></span>
                            <br />
                            <label>Yeni Şifre Tekrar</label>
                            <input class="form-control" asp-for="ConfirmedPassword" type="password" />
                            <br />
                            <span class="text text-danger" asp-validation-for="ConfirmedPassword"></span>
                            <br />
                            <button type="submit" class="btn btn-warning">Güncelle</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
