
@{
    ViewData["Title"] = "Index";
}

<div class="container">
    <div class="row"> 
        <div class="col-md-6">
            <div class="jumbotron">
                @Context.Session.GetString("FullName") Welcome Admin!
            </div>
        </>
    </div>
</div>

