@using EntityLayer.Entities
@model List<Situation>
@{
    ViewData["Title"] = "Index";
    Layout = null;
}
<a href="d:\github\realestateproject_.netcore\e-state\estate.ui\wwwroot\lib\bootstrap\dist\css\bootstrap.css.map">d:\github\realestateproject_.netcore\e-state\estate.ui\wwwroot\lib\bootstrap\dist\css\bootstrap.css.map</a>
<a href="d:\github\realestateproject_.netcore\e-state\estate.ui\wwwroot\lib\bootstrap\dist\css\bootstrap.min.css.map">d:\github\realestateproject_.netcore\e-state\estate.ui\wwwroot\lib\bootstrap\dist\css\bootstrap.min.css.map</a>
<a href="d:\github\realestateproject_.netcore\e-state\estate.ui\wwwroot\lib\bootstrap\dist\css\bootstrap.rtl.css.map">d:\github\realestateproject_.netcore\e-state\estate.ui\wwwroot\lib\bootstrap\dist\css\bootstrap.rtl.css.map</a>
<a href="d:\github\realestateproject_.netcore\e-state\estate.ui\wwwroot\lib\bootstrap\dist\css\bootstrap.rtl.min.css.map">d:\github\realestateproject_.netcore\e-state\estate.ui\wwwroot\lib\bootstrap\dist\css\bootstrap.rtl.min.css.map</a>
<link href="d:\github\realestateproject_.netcore\e-state\estate.ui\wwwroot\lib\bootstrap\dist\css\bootstrap.min.css" rel="stylesheet" />
<link href="d:\github\realestateproject_.netcore\e-state\estate.ui\wwwroot\lib\bootstrap\dist\css\bootstrap.rtl.min.css" rel="stylesheet" />
<link href="d:\github\realestateproject_.netcore\e-state\estate.ui\wwwroot\lib\bootstrap\dist\css\bootstrap.rtl.css" rel="stylesheet" />
<link href="d:\github\realestateproject_.netcore\e-state\estate.ui\wwwroot\lib\bootstrap\dist\css\bootstrap.css" rel="stylesheet" />

@if (Model.Count == 0)
{
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="alert alert-success">Herhangi bir Durum yok.</div>
            </div>
        </div>
    </div>
}

else
{
    <table class="table table-bordered table table-striped" id="table">
        <tr>
            <th>Ad</th>

            <th>Sil</th>
            <th>Güncelle</th>
        </tr>

        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.SituationName</td>

                    <td><a class="btn btn-danger" asp-route-id="@item.SituationId" asp-action="Delete" id="delete">Sil</a></td>
                    <td><a class="btn btn-success" asp-action="Update" asp-route-id="@item.SituationId">Güncelle</a></td>
                </tr>

            }
        </tbody>
    </table>

}
<br>
<a class="btn btn-primary" asp-action="Create">Ekle</a>


<script type="text/javascript">
    $("#table").on("click", "#delete", function () {

        var id = $(this).data("id");

        swal({
            title: "Silmek İsitoyr musunuz?",
            text: "Durum Silinecek gerçekten silmek istediğinize emin misiniz!",
            icon: "warning",
            buttons: true,
            dangerMode: true,
        })
            .then((willDelete) => {
                if (willDelete) {
                    $.ajax({
                        type: "GET",
                        url: '/Admin/Status/Delete/' + id,

                        success: function () {
                            toastr.error("Durum Silme İşlmei başarıyla gerçekleşti")

                        }
                    });

                    $(this).parent("td").parent("tr").remove();
                }
            });

    });

</script>

